/* General styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Topbar styles */
.topbar {
    background-color: #f3f3f3;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.brand {
    margin-left: 20px;
}

.search-bar {
    flex-grow: 1;
    text-align: center;
    position: relative;
    width: 60%;
    justify-self: center;
}

.search-bar input {
    margin-top: 20PX;
    padding: 10px;
    width: 70%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Navbar styles */
.navbar {
    position: fixed;
    left: 40px;
    top: 100px;
    width: 300px;
    height: calc(100% - 60px);
    background: #32b173;
    overflow-x: hidden;
    border: none;
    border-radius: 10px;
}

.navbar ul {
    list-style-type: none;
    padding: 5;
    margin-top: 20px;
}

.navbar ul li {
    font-size: 30px;
    padding: 7px;
    width: 100%;
    list-style: none;
    align-items: center;
}

.navbar ul li a {
    width: 100%;
    text-decoration: none;
    color: #fff;
    height: 70px;
    display:inline-flex;
    align-items: center;
    font-size: 24px;
}


/* Centered button styles */
.centered-button {
    margin-left: 950px;
    margin-top: 50px;
}

#checkStockBtn {
    padding: 10px 20px;
    background-color: red;
    color: #f7f7f7;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
}

/* Modal styles */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.5);
    /* Black with transparency */
}

/* Modal content */
#myModal .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% from the top and centered horizontally */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    /* 80% of modal width */
}

#myModal .modal-content h2 {
    color: red;
}

/* Close button */
#myModal .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#myModal .close:hover,
#myModal .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Table styles */
.table-container {
    margin: 20px auto;
    width: 70%;
    margin-top: 100px;
    margin-left: 460px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,td {
    padding: 8px;
    border: 1px solid #ccc;
    text-align: center;
    
}

th {
    background-color: #f2f2f2;
    /* Light gray background for table header */
    padding: 8px;
    border: 1px solid #ccc;
}

/* Optional: Hover effect on table rows */
tbody tr:hover {
    background-color: #f9f9f9;
}
